@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  user-select: none;
  -webkit-user-select: none;
  scrollbar-width: none;
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
::-webkit-scrollbar {
  display: none;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
